h1,h2,h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

table {
    border: 1px solid #020202;
    /* color: red; */
}

td {
    border: 1px solid #020202;
}

caption {
    border: 1px solid #020202;
}

th {
    border: 1px solid #020202;
}

figcaption {
    font-style: italic;
}

figcaption img {
    /* float: right; */
    /* padding: 0 20px 20px 0; */
}

body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}